h1 {
  color:#ff0000;
  font-size: 10px;
}

p{
  color:#0000ff;
  font-size: 40px;
}
h1 {
  color: #e6855e;
  font-size : 30 px;
  background-color:#f3f372
  heigth:80px;
  width:200px;

}
img {
  height:50px;
  width:70px;

}

li {
  color:#444;
}


.selected{
  color: #ff0000;
}
